div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    /* float: left; */
    width: 90%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    
  }
  
  div.desc {
    padding: 6px;
    text-align: center;
    background: rgb(73, 70, 70)
  }

.banner {
  position: relative;
  z-index: 1;
  mix-blend-mode:lighten;
}
.banner img {
  width: 100%;
  height: auto;
  position: absolute;
  /* background-image: url("../images/dallas-skyline.png"); */
  /* background-color: white; /
  
}



.image-set {
    /* box-shadow: 2px 4px 12px rgba(246, 237, 237, 0.2); */
    /* border: 2px solid rgb(77, 74, 74); */
    border-radius: 11px;
    width: 100%;
}

.image-set img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.city-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

.city-card {
    padding: 12px;
    background: rgb(103, 100, 100);
    z-index: 10;
    margin: 10px 5px;
    border-radius: 4px;
    border: 1px solid ivory;
    width: 45%;
  }


.city-card ul {
    padding-left: 10px;
}

.city-card ul li {
  padding-left: 10px;
}



.features {
  display: flex;
  flex-wrap: wrap;
}

#pro {
  background-color: rgb(1, 169, 175);
}

#con {
  background: lightsalmon;
}


@media screen and (max-width: 640px) {
  .city-card {
    width: 100%;
  }
}

@media screen and (min-width: 641px) and (max-width:768px) {
    .city-card {
      width: 50%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .city-card {
      width: 40%;
    }
}